
<div class="ability-container">

  <app-ability-content-form [model]="model"></app-ability-content-form>

  <fieldset class="border border-dark p-3 mt-3 mb-3">
    <legend>Limit Break Changes</legend>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item mx-1" *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" (click)="activeLB = x">
            <a class="nav-link" [class.active]="x === activeLB">
              {{ x + 1 }}

              <span class="badge badge-success" *ngIf="!model.lbChanges[x].shouldHide">C</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">

        <div class="form-check">
          <input type="checkbox" [id]="'should-use-' + activeLB" [(ngModel)]="model.lbChanges[activeLB].shouldHide" />
          <label class="ml-3" [for]="'should-use-' + activeLB">Hide This Limit Break Level</label>
        </div>

        <app-ability-content-form [model]="model.lbChanges[activeLB]" *ngIf="!model.lbChanges[activeLB].shouldHide"></app-ability-content-form>
      </div>
    </div>

  </fieldset>

</div>

