
:host {

  .ability-container {
    padding-left: 15px;
  }

  .ability-0 {
    border-left: 3px solid #0000b3;
  }

  .ability-1 {
    border-left: 3px solid #001f7d;
  }

  .ability-2 {
    border-left: 3px solid #b30000;
  }

  .ability-3 {
    border-left: 3px solid #7d0000;
  }

  .ability-4 {
    border-left: 3px solid #b3b300;
  }
}
