
<fieldset class="border border-dark p-3">
  <legend>Base Details</legend>

  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  </form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3">
  <legend>Map Layout</legend>

  <div class="map-container">
    <div class="map-editor"></div>

    <div class="controls">
      <div><strong>Shift+Click</strong> Create new node</div>
      <div><strong>Right Click</strong> Edit node</div>
      <div><strong>Shift+Drag</strong> Create link</div>
      <div><strong>Ctrl+Click</strong> Select node/link</div>
      <div><strong>Delete</strong> Delete selected node/link</div>
    </div>
  </div>
</fieldset>

<ng-template #battleEditor>
  <div class="modal-header">
    <h4 class="modal-title">
      Edit Battle
    </h4>

    <div class="has-actions text-center">
      <button class="btn btn-sm btn-primary" (click)="confirmBattleEdit()">Save</button>
    </div>

    <button class="btn-close close" (click)="cancelEdit()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-battle [model]="currentBattle" *ngIf="currentBattle"></app-battle>
  </div>
</ng-template>

