<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MagiCon! Tools</a>

  <div class="collapse navbar-collapse">
    <div class="btn-group mr-auto ml-auto">
      <label class="btn btn-info btn-sm mb-0" (click)="export()">Export</label>
      <label class="btn btn-warning btn-sm mb-0" (click)="uploadContent.click()">Import</label>
      <input type="file" #uploadContent class="hidden" accept=".json" (change)="import($event, uploadContent)"/>
      <label class="btn btn-danger btn-sm mb-0" (click)="reset()">Reset</label>
    </div>

    <div class="btn-group ml-auto" btnRadioGroup [(ngModel)]="currentPage">
      <label class="btn btn-info btn-sm mb-0" btnRadio="banner">Banner</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="character">Character</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="chip">Chip</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="enemy">Enemy</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="item">Item</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="map" [disabled]="true">Map</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="shop">Shop</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="weapon">Weapon</label>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <app-banner-list *ngIf="currentPage === 'banner'"></app-banner-list>
      <app-character-list *ngIf="currentPage === 'character'"></app-character-list>
      <app-chip-list *ngIf="currentPage === 'chip'"></app-chip-list>
      <app-enemy-list *ngIf="currentPage === 'enemy'"></app-enemy-list>
      <app-item-list *ngIf="currentPage === 'item'"></app-item-list>
      <app-shop-list *ngIf="currentPage === 'shop'"></app-shop-list>
      <app-weapon-list *ngIf="currentPage === 'weapon'"></app-weapon-list>
    </div>
  </div>
</div>
