<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MagiCon! Tools</a>

  <div class="collapse navbar-collapse">
    <div class="btn-group mr-auto ml-auto">
      <label class="btn btn-info btn-sm mb-0" (click)="export()">Export</label>
      <label class="btn btn-info btn-sm mb-0" (click)="uploadContent.click()">Import</label>
      <input type="file" #uploadContent class="hidden" accept=".json" (change)="import($event, uploadContent)"/>
      <label class="btn btn-danger btn-sm mb-0" (click)="reset()">Reset</label>
    </div>

    <div class="btn-group ml-auto" btnRadioGroup [(ngModel)]="currentPage">
      <label class="btn btn-info btn-sm mb-0" btnRadio="banner" [disabled]="true">Banner</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="character">Character</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="chip">Chip</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="enemy" [disabled]="true">Enemy</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="event" [disabled]="true">Event</label>
      <label class="btn btn-info btn-sm mb-0" btnRadio="weapon">Weapon</label>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <app-banner *ngIf="currentPage === 'banner'"></app-banner>
      <app-character *ngIf="currentPage === 'character'"></app-character>
      <app-chip-list *ngIf="currentPage === 'chip'"></app-chip-list>
      <app-enemy *ngIf="currentPage === 'enemy'"></app-enemy>
      <app-event *ngIf="currentPage === 'event'"></app-event>
      <app-weapon-list *ngIf="currentPage === 'weapon'"></app-weapon-list>
    </div>
  </div>
</div>
