
<div class="row">
  <div class="col-9">
    <input class="form-control" type="text" placeholder="Search Maps" [(ngModel)]="searchText" (keyup)="filter()">
  </div>
  <div class="col-3 text-right">
    <button class="btn btn-primary" (click)="addNewMap(mapEditor)">+ Add New Map</button>
  </div>
</div>

<ngx-datatable class="bootstrap"
               [rows]="searchResults"
               columnMode="flex"
               [sorts]="[{ prop: 'name', dir: 'asc' }]"
               [limit]="10"
               [headerHeight]="50"
               [footerHeight]="50"
               rowHeight="auto">

  <ngx-datatable-column name="Name" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Combats" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.nodes.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="250" [sortable]="false" [canAutoResize]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="float-right">
        <button class="btn btn-info btn-sm ml-1" (click)="cloneMap(mapEditor, row)">Clone</button>
        <button class="btn btn-info btn-sm ml-1" (click)="editMap(mapEditor, row)">Edit</button>
        <button class="btn btn-danger btn-sm ml-1" (click)="deleteMap(row)">Delete</button>

        <button class="btn btn-info btn-sm ml-1" ngxClipboard [cbContent]="row.id" (cbOnSuccess)="mod.notify('Copied ID of ' + row.name + ' (' + row.id + ')!')">ID</button>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template #mapEditor>
  <div class="modal-header">
    <h4 class="modal-title">
      Create/Edit Map
    </h4>

    <div class="has-actions text-center">
      <div class="d-flex justify-content-space-around">
        <button class="btn btn-sm btn-primary" (click)="confirmMapEdit()" [disabled]="!canSaveCurrentMap">Save</button>

        <div class="ml-1 errors">
          <div class="error" *ngIf="isCurrentMapDuplicateName">Duplicate name.</div>
          <div class="error" *ngIf="isCurrentMapClone">Rename clone.</div>
          <div class="warning" *ngIf="isCurrentMapDuplicateArt">Duplicate art.</div>
        </div>
      </div>
    </div>

    <button class="btn-close close" (click)="cancelEdit()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-map [model]="currentMap" *ngIf="currentMap"></app-map>
  </div>

  <div class="modal-footer">
    <div class="uuid">{{ currentMap?.id }}</div>
  </div>
</ng-template>
