
<fieldset class="border border-dark p-3">
  <legend>Base Details</legend>

  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  </form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>Stats</legend>

  <tabset [justified]="true">

    <tab class="p-3">
      <ng-template tabHeading>
        Base Stats

        <span class="badge point-badge" [ngClass]="['badge-' + archetype.color]" *ngFor="let archetype of mod.archetypes">{{ model.basePoints[archetype.name] ?? 0 }}</span>
      </ng-template>

      <app-stats-form [model]="model.baseStats"
                      [pointBuyEnabled]="true"
                      [maxPoints]="25"
                      [statKey]="'baseStatPoints'"
                      [statPointModel]="model.basePoints"></app-stats-form>

    </tab>

    <tab class="p-3">
      <ng-template tabHeading>
        Level-up Stats

        <span class="badge point-badge" [ngClass]="['badge-' + archetype.color]" *ngFor="let archetype of mod.archetypes">{{ model.levelPoints[archetype.name] ?? 0 }}</span>
      </ng-template>

      <app-stats-form [model]="model.levelStats"
                      [pointBuyEnabled]="true"
                      [maxPoints]="25"
                      [statKey]="'levelupPoints'"
                      [statPointModel]="model.levelPoints"></app-stats-form>

    </tab>

    <tab class="p-3">
      <ng-template tabHeading>
        Limit Break Stats

        <span class="badge point-badge" [ngClass]="['badge-' + archetype.color]" *ngFor="let archetype of mod.archetypes">{{ model.lbPoints[archetype.name] ?? 0 }}</span>
      </ng-template>

      <app-stats-form [model]="model.lbStats"
                      [pointBuyEnabled]="true"
                      [maxPoints]="25"
                      [statKey]="'limitBreakPoints'"
                      [statPointModel]="model.lbPoints"></app-stats-form>

    </tab>

  </tabset>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Abilities

    <button class="btn btn-info btn-sm float-right" (click)="addAbility()" [disabled]="model.abilities.length >= 5">
      Add
    </button>
  </legend>

  <div *ngIf="model.abilities.length === 0">No abilities chosen.</div>

  <ul class="picked-list">
    <ng-container *ngFor="let ability of model.abilities; let i = index">
      <li>
        <div class="row">
          <div class="col-8">
            <strong>{{ ability }}</strong>
            <br>
            <em><small>{{ mod.getAbilityDescription(ability) }}</small></em>
          </div>

          <div class="col-4 text-right">
            <button class="btn btn-danger" (click)="removeAbility(i)">Remove {{ ability }}</button>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Skills

    <button class="btn btn-info btn-sm float-right" (click)="addSkill()" [disabled]="model.skills.length >= 3">
      Add
    </button>
  </legend>

  <div *ngIf="model.skills.length === 0">No skills chosen.</div>

  <ul class="picked-list">
    <ng-container *ngFor="let skill of model.skills; let i = index">
      <li>
        <div class="row">
          <div class="col-8">
            <strong>{{ skill }}</strong>
            <br>
            <em><small>{{ mod.getSkillDescription(skill) }}</small></em>
          </div>

          <div class="col-4 text-right">
            <button class="btn btn-danger" (click)="removeSkill(i)">Remove {{ skill }}</button>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Connect Skill

    <button class="btn btn-info btn-sm float-right" (click)="chooseSpecialSkill()">
      Choose
    </button>
  </legend>

  <div *ngIf="!model.specialSkill">No connect skill chosen.</div>

  <div class="row" *ngIf="model.specialSkill">
    <div class="col-12">
      <strong>{{ model.specialSkill }}</strong>
      <br>
      <em><small>{{ mod.getSkillDescription(model.specialSkill) }}</small></em>
    </div>
  </div>
</fieldset>
