<app-background-image class="background-image" artType="characters" [art]="model.art"></app-background-image>

<fieldset class="border border-dark p-3">
  <legend>Base Details</legend>

  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  </form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>Stats</legend>

  <tabset [justified]="true">

    <tab class="p-3">
      <ng-template tabHeading>
        Base Stats

        <span class="badge point-badge" [ngClass]="['badge-' + archetype.color]" *ngFor="let archetype of mod.archetypes">{{ model.basePoints[archetype.name] ?? 0 }}</span>
      </ng-template>

      <app-stats-form [model]="model.baseStats"
                      [pointBuyEnabled]="true"
                      [maxPoints]="model.stars * 5"
                      [statKey]="'baseStatPoints'"
                      [statPointModel]="model.basePoints"></app-stats-form>

    </tab>

    <tab class="p-3">
      <ng-template tabHeading>
        Level-up Stats

        <span class="badge point-badge" [ngClass]="['badge-' + archetype.color]" *ngFor="let archetype of mod.archetypes">{{ model.levelPoints[archetype.name] ?? 0 }}</span>
      </ng-template>

      <app-stats-form [model]="model.levelStats"
                      [pointBuyEnabled]="true"
                      [maxPoints]="model.stars * 5"
                      [statKey]="'levelupPoints'"
                      [statPointModel]="model.levelPoints"></app-stats-form>

    </tab>

    <tab class="p-3">
      <ng-template tabHeading>
        Limit Break Stats

        <span class="badge point-badge" [ngClass]="['badge-' + archetype.color]" *ngFor="let archetype of mod.archetypes">{{ model.lbPoints[archetype.name] ?? 0 }}</span>
      </ng-template>

      <app-stats-form [model]="model.lbStats"
                      [pointBuyEnabled]="true"
                      [maxPoints]="model.stars * 5"
                      [statKey]="'limitBreakPoints'"
                      [statPointModel]="model.lbPoints"></app-stats-form>

    </tab>

  </tabset>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Abilities

    <button class="btn btn-info btn-sm float-right" (click)="addAbilityGroup()" [disabled]="model.abilities.length >= 5">
      Add
    </button>
  </legend>

  <div *ngIf="model.abilities.length === 0">No abilities groupings made.</div>

  <fieldset class="border border-dark p-3 mb-3" *ngFor="let ability of model.abilities; let i = index">
    <legend>
      {{ ability.name}}

      <button class="btn btn-danger btn-sm float-right ml-1" (click)="removeAbilityGroup(i)">
        Remove
      </button>

      <button class="btn btn-info btn-sm float-right ml-1" (click)="renameAbility(i)">
        Rename
      </button>

      <button class="btn btn-info btn-sm float-right" (click)="addAbility(i)" [disabled]="model.abilities[i].abilities.length >= 5">
        Add
      </button>
    </legend>

    <div *ngIf="model.abilities[i].abilities.length === 0">No abilities chosen.</div>

    <ul class="picked-list">
      <ng-container *ngFor="let childAbility of model.abilities[i].abilities; let j = index">
        <li>
          <div class="row mb-3">
            <div class="col-8">
              <strong>{{ childAbility }}</strong>
              <br>
              <em><small>{{ mod.getAbilityDescription(childAbility) }}</small></em>
            </div>

            <div class="col-4 text-right">
              <button class="btn btn-danger" (click)="removeAbility(i, j)">Remove {{ childAbility }}</button>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </fieldset>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Skills

    <button class="btn btn-info btn-sm float-right" (click)="addSkill()" [disabled]="model.skills.length >= 3">
      Add
    </button>
  </legend>

  <div *ngIf="model.skills.length === 0">No skills chosen.</div>

  <ul class="picked-list">
    <ng-container *ngFor="let skill of model.skills; let i = index">
      <li>
        <div class="row mb-3">
          <div class="col-8">
            <strong>{{ skill }}</strong>
            <br>
            <em><small>{{ mod.getSkillDescription(skill) }}</small></em>
          </div>

          <div class="col-4 text-right">
            <button class="btn btn-danger" (click)="removeSkill(i)">Remove {{ skill }}</button>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Connect Skill

    <button class="btn btn-info btn-sm float-right" (click)="chooseSpecialSkill()">
      Choose
    </button>
  </legend>

  <div *ngIf="!model.specialSkill">No connect skill chosen.</div>

  <div class="row" *ngIf="model.specialSkill">
    <div class="col-12">
      <strong>{{ model.specialSkill }}</strong>
      <br>
      <em><small>{{ mod.getSkillDescription(model.specialSkill) }}</small></em>
    </div>
  </div>
</fieldset>
