
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item mx-1" *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" (click)="activeLB = x">
        <a class="nav-link" [class.active]="x === activeLB">
          {{ x + 1 }}
          <span class="badge badge-success" *ngIf="model.abilities && model.abilities[x] && model.abilities[x].length > 0">A</span>
          <span class="badge badge-warning" *ngIf="model.stats && hasStatsGT0()">S</span>
          <span class="badge badge-danger" *ngIf="model.skills && model.skills[x] && model.skills[x].length > 0">S</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row mt-3">
  <div class="col" *ngIf="allowAbilities">

    <tabset [justified]="true">

      <tab *ngIf="allowAbilities" class="pt-3" #tabAbilities="tab">

        <ng-template tabHeading>
          Abilities

          <span class="badge badge-secondary bg-secondary" *ngIf="model.abilities[activeLB]">
            {{ model.abilities[activeLB].length }}
          </span>

          <button class="btn btn-info btn-sm btn-in-tab ml-2" (click)="addAbility.emit(activeLB)" *ngIf="tabAbilities.active">+</button>
        </ng-template>

        <div class="text-center mw-100 p-3 m-3" *ngIf="!model.abilities[activeLB] || model.abilities[activeLB].length === 0">
          No abilities for LB {{ activeLB + 1 }}.
        </div>

        <app-ability-form *ngFor="let ability of model.abilities[activeLB]; let i = index"
                          (remove)="removeLBAbility(i)"
                          [model]="ability"
                          [index]="i"></app-ability-form>

      </tab>

      <tab *ngIf="allowStats" class="pt-3" #tabStats="tab">

        <ng-template tabHeading>
          Stats
        </ng-template>

        <div class="text-center mw-100 p-3 m-3">
          No stats for LB {{ activeLB + 1 }}.
        </div>

      </tab>

      <tab *ngIf="allowSkills" class="pt-3" #tabSkills="tab">

        <ng-template tabHeading>
          Skills

          <span class="badge badge-secondary bg-secondary" *ngIf="model.skills[activeLB]">
            {{ model.skills[activeLB].length }}
          </span>
        </ng-template>

        <div class="text-center mw-100 p-3 m-3" *ngIf="!model.skills[activeLB] || model.skills[activeLB].length === 0">
          No skills for LB {{ activeLB + 1 }}.
        </div>
      </tab>

    </tabset>
  </div>
</div>
