
<div class="row">
  <div class="col-1"></div>

  <div class="col-10">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item mx-1" *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" (click)="activeLB = x">
        <a class="nav-link" [class.active]="x === activeLB">
          {{ x + 1 }}
          <span class="badge badge-success" *ngIf="model.abilities && model.abilities[x] && model.abilities[x].length > 0">A</span>
          <span class="badge badge-warning" *ngIf="model.stats && hasStatsGT0()">S</span>
          <span class="badge badge-danger" *ngIf="model.skills && model.skills[x] && model.skills[x].length > 0">S</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col" *ngIf="allowAbilities">
    {{ activeLB }} {{ model | json }}
  </div>
</div>
