
<div class="ability-container" [ngClass]="'ability-' + index">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      </form>
    </div>

  </div>

  <fieldset class="border border-dark p-3 mt-3">
    <legend>
      Effects

      <button class="btn btn-info btn-sm float-right" (click)="addEffect()" [disabled]="model.effects.length >= 5">
        Add
      </button>
    </legend>

    <div *ngIf="model.effects.length === 0">No effects created.</div>

    <app-ability-effect-form *ngFor="let effect of model.effects; let i = index"
                            (remove)="removeEffect(i)"
                            [model]="effect"
                            [index]="i"></app-ability-effect-form>

  </fieldset>

  <fieldset class="border border-dark p-3 mt-3">
    <legend>
      Conditions

      <button class="btn btn-info btn-sm float-right" (click)="addCondition()" [disabled]="model.conditions.length >= 2">
        Add
      </button>
    </legend>

    <div *ngIf="model.conditions.length === 0">No conditions created.</div>

    <app-ability-condition-form *ngFor="let condition of model.conditions; let i = index"
                                (remove)="removeCondition(i)"
                                [model]="condition"
                                [index]="i"></app-ability-condition-form>

  </fieldset>

  <fieldset class="border border-dark p-3 mt-3 mb-3" *ngIf="showLBChanges">
    <legend>Limit Break Changes</legend>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item mx-1" *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" (click)="activeLB = x">
            <a class="nav-link" [class.active]="x === activeLB">
              {{ x + 1 }}

              <span class="badge badge-success" *ngIf="!model.lbChanges[x].shouldHide">C</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">

        <div class="form-check">
          <input type="checkbox" [id]="'should-use-' + activeLB" [(ngModel)]="model.lbChanges[activeLB].shouldHide" />
          <label class="ml-3" [for]="'should-use-' + activeLB">Hide This Limit Break Level</label>
        </div>

        <app-ability-form [model]="model.lbChanges[activeLB]" [showLBChanges]="false"  *ngIf="!model.lbChanges[activeLB].shouldHide"></app-ability-form>
      </div>
    </div>

  </fieldset>

</div>

