<app-background-image class="background-image" artType="skillicons" [art]="model.art"></app-background-image>

<div class="ability-container">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      </form>
    </div>
  </div>

  <fieldset class="border border-dark p-3 mt-3">
    <legend>
      Elements Created On Use

      <button class="btn btn-info btn-sm float-right" (click)="recommendedElements()">
        Recommended
      </button>
    </legend>

    <app-element-quantity-form [model]="model.generatedElements"></app-element-quantity-form>
  </fieldset>

  <fieldset class="border border-dark p-3 mt-3">
    <legend>
      Elements Consumed On Use
    </legend>

    <app-element-quantity-form [model]="model.consumedElements"></app-element-quantity-form>
  </fieldset>

  <fieldset class="border border-dark p-3 mt-3">
    <legend>
      Actions

      <button class="btn btn-info btn-sm float-right" (click)="addAction()" [disabled]="model.actions.length >= 5">
        Add
      </button>
    </legend>

    <div *ngIf="model.actions.length === 0">No actions created.</div>

    <app-skill-action-form *ngFor="let effect of model.actions; let i = index"
                             (remove)="removeAction(i)"
                             [model]="effect"
                             [index]="i"></app-skill-action-form>

  </fieldset>

</div>
