
<div class="row">
  <div class="col-9">
    <input class="form-control" type="text" placeholder="Search Enemies" [(ngModel)]="searchText" (keyup)="filter()">
  </div>
  <div class="col-3 text-right">
    <button class="btn btn-primary" (click)="addNewEnemy(enemyEditor)">+ Add New Enemy</button>
  </div>
</div>


<ngx-datatable class="bootstrap"
               [rows]="searchResults"
               columnMode="flex"
               [sorts]="[{ prop: 'name', dir: 'asc' }]"
               [limit]="10"
               [headerHeight]="50"
               [footerHeight]="50"
               rowHeight="auto">

  <ngx-datatable-column name="Name" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Primary Stat" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.primaryStat }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="# Abilities" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.abilities.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="# Skills" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.skills.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Combat Uses" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip" placement="right" [tooltip]="enemyCurrentlyUsedIn(row) | json">
        <ng-container *ngIf="enemyCurrentlyUsedIn(row) as usesArray">
          {{ usesArray.length }} Combat(s) <strong *ngIf="usesArray.length > 0">ⓘ</strong>
        </ng-container>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="200" [sortable]="false" [canAutoResize]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="float-right">
        <button class="btn btn-info btn-sm ml-1" (click)="cloneEnemy(enemyEditor, row)">Clone</button>

        <button class="btn btn-info btn-sm ml-1" (click)="editEnemy(enemyEditor, row)">Edit</button>

        <button class="btn btn-danger btn-sm ml-1"
                [disabled]="isEnemyCurrentlyInUse(row)"
                (click)="deleteEnemy(row)">
                Delete
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template #enemyEditor>
  <div class="modal-header">
    <h4 class="modal-title">
      Create/Edit Enemy
    </h4>

    <div class="has-actions text-center">
      <div class="d-flex justify-content-space-around">
        <button class="btn btn-sm btn-primary" (click)="confirmEnemyEdit()" [disabled]="!canSaveCurrentEnemy">Save</button>

        <div class="ml-1 errors">
          <div class="error" *ngIf="isCurrentEnemyDuplicateName">Duplicate name.</div>
          <div class="error" *ngIf="isCurrentEnemyClone">Rename clone.</div>
          <div class="warning" *ngIf="isCurrentEnemyDuplicateArt">Duplicate art.</div>
        </div>
      </div>
    </div>

    <button class="btn-close close" (click)="cancelEdit()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-enemy [model]="currentEnemy" *ngIf="currentEnemy"></app-enemy>
  </div>

  <div class="modal-footer">
    <div class="uuid">{{ currentEnemy?.id }}</div>
  </div>
</ng-template>
