<div class="loader" *ngIf="mod.isLoading">
  <div class="loading-text">
    Loading...
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MagiCon! Tools</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>
          {{ currentPage }} ({{ numEntries(currentPage) }}) <span class="caret"></span>
        </a>

        <ul *dropdownMenu class="dropdown-menu">
          <li *ngFor="let editor of editors">
            <a class="dropdown-item" (click)="changeCurrent(editor.name)">
              {{ editor.name }} ({{ numEntries(editor.name) }})
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="btn-group ml-auto mr-auto" *ngIf="!auth.loggedIn">
      <button class="btn btn-info btn-sm mb-0" (click)="export()" [disabled]="auth.loginInProcess">Export</button>
      <button class="btn btn-warning btn-sm mb-0" (click)="uploadContent.click()" [disabled]="auth.loginInProcess">Import</button>
      <input type="file" #uploadContent class="hidden" accept=".json" (change)="import($event, uploadContent)"/>
      <button class="btn btn-danger btn-sm mb-0" (click)="reset()" [disabled]="auth.loginInProcess">Reset</button>
    </div>

    <div class="btn-group ml-auto" *ngIf="!auth.loggedIn">
      <button class="btn btn-sm mb-0"
              [ngClass]="['btn-' + currentColor]"
              (click)="showLogin()"
              placement="left"
              tooltip="If you are not logged in, your data will not be saved, and additionally will be overwritten when you do log in. Exercise caution."
              [disabled]="auth.loginInProcess">Login ⓘ</button>
    </div>

    <div class="btn-group ml-auto" *ngIf="auth.loggedIn">
      <button class="btn btn-danger btn-sm mb-0" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row message">
    <div class="col">
      <div class="message-content" *ngIf="mod.newMessage$ | async as message">
        {{ message }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-ability-list *ngIf="currentPage === 'Ability'"></app-ability-list>
      <app-accessory-list *ngIf="currentPage === 'Accessory'"></app-accessory-list>
      <app-achievement-list *ngIf="currentPage === 'Achievement'"></app-achievement-list>
      <app-banner-list *ngIf="currentPage === 'Banner'"></app-banner-list>
      <app-character-list *ngIf="currentPage === 'Character'"></app-character-list>
      <app-enemy-list *ngIf="currentPage === 'Enemy'"></app-enemy-list>
      <app-item-list *ngIf="currentPage === 'Item'"></app-item-list>
      <app-map-list *ngIf="currentPage === 'Map'"></app-map-list>
      <app-shop-list *ngIf="currentPage === 'Shop'"></app-shop-list>
      <app-store-list *ngIf="currentPage === 'Store'"></app-store-list>
      <app-skill-list *ngIf="currentPage === 'Skill'"></app-skill-list>
      <app-weapon-list *ngIf="currentPage === 'Weapon'"></app-weapon-list>
    </div>
  </div>
</div>

<ng-template #login>
  <div class="modal-header">
    <h4 class="modal-title">
      Login
    </h4>

    <div class="has-actions text-center">
      <button class="btn btn-sm btn-primary" (click)="doLogin()" [disabled]="!email || !password">Login</button>
    </div>

    <button class="btn-close close" (click)="abortLogin()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-3 text-right font-weight-bold">Email</div>
      <div class="col-9">
        <input type="text" class="form-control" [(ngModel)]="email" (keyup.enter)="doLogin()" />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 text-right font-weight-bold">Password</div>
      <div class="col-9">
        <input type="password" class="form-control" [(ngModel)]="password" (keyup.enter)="doLogin()" />
      </div>
    </div>
  </div>
</ng-template>

