<app-background-image class="background-image" artType="banners" [art]="model.art"></app-background-image>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Base Details
  </legend>

  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  </form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3" *ngIf="model.type === 'characters'">
  <legend>
    Characters

    <button class="btn btn-info btn-sm float-right" (click)="add('characters')">
      Add
    </button>
  </legend>

  <div *ngIf="model.characters.length === 0">No characters on banner.</div>

  <app-weighted-entry-form *ngFor="let character of model.characters; let i = index"
                           (remove)="remove('characters', i)"
                           [model]="character"
                           type="character"
                           [index]="i"></app-weighted-entry-form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3" *ngIf="model.type === 'chips'">
  <legend>
    Chips

    <button class="btn btn-info btn-sm float-right" (click)="add('chips')">
      Add
    </button>
  </legend>

  <div *ngIf="model.chips.length === 0">No chips on banner.</div>

  <app-weighted-entry-form *ngFor="let chip of model.chips; let i = index"
                           (remove)="remove('chips', i)"
                           [model]="chip"
                           type="chip"
                           [index]="i"></app-weighted-entry-form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3" *ngIf="model.type === 'items'">
  <legend>
    Items

    <button class="btn btn-info btn-sm float-right" (click)="add('items')">
      Add
    </button>
  </legend>

  <div *ngIf="model.items.length === 0">No items on banner.</div>

  <app-weighted-entry-form *ngFor="let item of model.items; let i = index"
                           (remove)="remove('items', i)"
                           [model]="item"
                           type="item"
                           [index]="i"></app-weighted-entry-form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3" *ngIf="model.type === 'weapons'">
  <legend>
    Weapons

    <button class="btn btn-info btn-sm float-right" (click)="add('weapons')">
      Add
    </button>
  </legend>

  <div *ngIf="model.weapons.length === 0">No weapons on banner.</div>

  <app-weighted-entry-form *ngFor="let weapon of model.weapons; let i = index"
                           (remove)="remove('weapons', i)"
                           [model]="weapon"
                           type="weapon"
                           [index]="i"></app-weighted-entry-form>
</fieldset>
