
<div class="row">
  <div class="col-9">
    <input class="form-control" type="text" placeholder="Search Shops" [(ngModel)]="searchText" (keyup)="filter()">
  </div>
  <div class="col-3 text-right">
    <button class="btn btn-primary" (click)="addNewShop(shopEditor)">+ Add New Shop</button>
  </div>
</div>


<ngx-datatable class="bootstrap"
               [rows]="searchResults"
               columnMode="flex"
               [sorts]="[{ prop: 'name', dir: 'asc' }]"
               [limit]="10"
               [headerHeight]="50"
               [footerHeight]="50"
               rowHeight="auto">

  <ngx-datatable-column name="Name" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Currency Item" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        <app-info-item [id]="row.currencyItem"></app-info-item>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Characters" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.characters.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Accessories" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.accessories.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Items" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.items.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Weapons" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.weapons.length }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="200" [sortable]="false" [canAutoResize]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="float-right">
        <button class="btn btn-info btn-sm ml-1" (click)="cloneShop(shopEditor, row)">Clone</button>
        <button class="btn btn-info btn-sm ml-1" (click)="editShop(shopEditor, row)">Edit</button>
        <button class="btn btn-danger btn-sm ml-1" (click)="deleteShop(row)">Delete</button>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template #shopEditor>
  <div class="modal-header">
    <h4 class="modal-title">
      Create/Edit Shop
    </h4>

    <div class="has-actions text-center">
      <div class="d-flex justify-content-space-around">
        <button class="btn btn-sm btn-primary" (click)="confirmShopEdit()" [disabled]="!canSaveCurrentShop">Save</button>

        <div class="ml-1 errors">
          <div class="error" *ngIf="isCurrentShopDuplicateName">Duplicate name.</div>
          <div class="error" *ngIf="isCurrentShopClone">Rename clone.</div>
        </div>
      </div>
    </div>

    <button class="btn-close close" (click)="cancelEdit()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-shop [model]="currentShop" *ngIf="currentShop"></app-shop>
  </div>

  <div class="modal-footer">
    <div class="uuid">{{ currentShop?.id }}</div>
  </div>
</ng-template>
