<app-background-image class="background-image" artType="accessories" [art]="model.art"></app-background-image>

<fieldset class="border border-dark p-3">
  <legend>Base Details</legend>

  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  </form>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Abilities

    <button class="btn btn-info btn-sm float-right" (click)="addAbility()" [disabled]="model.abilities.length >= 3">
      Add
    </button>
  </legend>

  <div *ngIf="model.abilities.length === 0">No abilities created.</div>

  <table class="table table-striped table-bordered">
    <tbody>
      <tr *ngFor="let ability of model.abilities; let i = index">
        <td>
          <app-info-ability [id]="ability"></app-info-ability>
        </td>

        <td class="text-right">
          <button class="btn btn-danger" (click)="removeAbility(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>

<fieldset class="border border-dark p-3 mt-3 mb-3">
  <legend>
    Extra Allowed Dupes

    <button class="btn btn-info btn-sm float-right" (click)="addExtraDupe()">
      Add
    </button>
  </legend>

  <div *ngIf="model.allowedExtraDupeItems.length === 0">No extra dupe items available.</div>

  <table class="table table-striped table-bordered">
    <tbody>
      <tr *ngFor="let item of model.allowedExtraDupeItems; let i = index">
        <td>
          <app-info-item [id]="item"></app-info-item>
        </td>

        <td class="text-right">
          <button class="btn btn-danger" (click)="removeExtraDupe(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
