
@import "global-svg";

.hidden {
  display: none;
}

.section-header {
  font-size: 1.5rem;
}

legend {
  width: 50%;
}

.nav-item {
  cursor: pointer;
}

.btn-in-tab {
  max-height: 20px;
  line-height: 20px;
  padding-top: 0px;
}

.tab-pane.active {
  border: 1px solid #dee2e6;
}

// for nested modals
.modal {
  background: rgba(0, 0, 0, .3);
}

.modal-dialog {

  &.big-modal {
    max-width: 95% !important;
  }

  .modal-header {
    align-items: center;
    justify-content: center;

    .has-actions {
      flex: 1;

      display: flex;
      justify-content: center;
    }
  }
}

.fw-button {
  width: 32px;
}

.errors {
  min-width: 200px;

  color: red;
  font-size: .8rem;
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tooltip-inner {
  width: 400px !important;
  max-width: 400px !important;
}
