/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

.section-header {
  font-size: 1.5rem;
}

legend {
  width: 50%;
}

.nav-item {
  cursor: pointer;
}

.btn-in-tab {
  max-height: 20px;
  line-height: 20px;
  padding-top: 0px;
}

.tab-pane.active {
  border: 1px solid #dee2e6;
}
