
<div class="row">
  <div class="col-9">
    <input class="form-control" type="text" placeholder="Search Accessories" [(ngModel)]="searchText" (keyup)="filter()">
  </div>
  <div class="col-3 text-right">
    <button class="btn btn-primary" (click)="addNewAccessory(accessoryEditor)">+ Add New Accessory</button>
  </div>
</div>


<ngx-datatable class="bootstrap"
               [rows]="searchResults"
               columnMode="flex"
               [sorts]="[{ prop: 'name', dir: 'asc' }]"
               [limit]="10"
               [headerHeight]="50"
               [footerHeight]="50"
               rowHeight="auto">

  <ngx-datatable-column name="Name" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Stars" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ mod.stars[row.stars - 1] }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Primary Stat" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.primaryStat }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Acquistions" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip" placement="right" [tooltip]="accessoryCurrentlyUsedIn(row) | json">
        <ng-container *ngIf="accessoryCurrentlyUsedIn(row) as usesArray">
          {{ usesArray.length }} Method(s) <strong *ngIf="usesArray.length > 0">ⓘ</strong>
        </ng-container>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="200" [sortable]="false" [canAutoResize]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="float-right">
        <button class="btn btn-info btn-sm ml-1" (click)="cloneAccessory(accessoryEditor, row)">Clone</button>

        <button class="btn btn-info btn-sm ml-1" (click)="editAccessory(accessoryEditor, row)">Edit</button>

        <button class="btn btn-danger btn-sm ml-1"
                [disabled]="isAccessoryCurrentlyInUse(row)"
                (click)="deleteAccessory(row)">
                Delete
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template #accessoryEditor>
  <div class="modal-header">
    <h4 class="modal-title">
      Create/Edit Accessory
    </h4>

    <div class="has-actions text-center">
      <div class="d-flex justify-content-space-around">
        <button class="btn btn-sm btn-primary" (click)="confirmAccessoryEdit()" [disabled]="!canSaveCurrentAccessory">Save</button>

        <div class="ml-1 errors">
          <div class="error" *ngIf="isCurrentAccessoryDuplicateName">Duplicate name.</div>
          <div class="error" *ngIf="isCurrentAccessoryClone">Rename clone.</div>
          <div class="warning" *ngIf="isCurrentAccessoryDuplicateArt">Duplicate art.</div>
        </div>
      </div>
    </div>

    <button class="btn-close close" (click)="cancelEdit()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-accessory [model]="currentAccessory" *ngIf="currentAccessory"></app-accessory>
  </div>

  <div class="modal-footer">
    <div class="uuid">{{ currentAccessory?.id }}</div>
  </div>
</ng-template>
