
<div class="row">
  <div class="col-9">
    <input class="form-control" type="text" placeholder="Search Items" [(ngModel)]="searchText" (keyup)="filter()">
  </div>
  <div class="col-3 text-right">
    <button class="btn btn-primary" (click)="addNewItem(itemEditor)">+ Add New Item</button>
  </div>
</div>


<ngx-datatable class="bootstrap"
               [rows]="searchResults"
               columnMode="flex"
               [sorts]="[{ prop: 'name', dir: 'asc' }]"
               [limit]="10"
               [headerHeight]="50"
               [footerHeight]="50"
               rowHeight="auto">

  <ngx-datatable-column name="Name" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Type" [flexGrow]="2">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.itemType }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Sell Value" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip">
        {{ row.sellValue | number }}g
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Acquistions / Uses" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="chip" container="body" placement="right" [tooltip]="itemCurrentlyUsedIn(row) | json">
        <ng-container *ngIf="itemCurrentlyUsedIn(row) as usesArray">
          {{ usesArray.length }} Method(s) <strong *ngIf="usesArray.length > 0">ⓘ</strong>
        </ng-container>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="250" [sortable]="false" [canAutoResize]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="float-right">
        <button class="btn btn-info btn-sm ml-1" (click)="cloneItem(itemEditor, row)">Clone</button>

        <button class="btn btn-info btn-sm ml-1" (click)="editItem(itemEditor, row)">Edit</button>

        <button class="btn btn-danger btn-sm ml-1"
                [disabled]="isItemCurrentlyInUse(row)"
                (click)="deleteItem(row)">
                Delete
        </button>

        <button class="btn btn-info btn-sm ml-1" ngxClipboard [cbContent]="row.id" (cbOnSuccess)="mod.notify('Copied ID of ' + row.name + ' (' + row.id + ')!')">ID</button>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template #itemEditor>
  <div class="modal-header">
    <h4 class="modal-title">
      Create/Edit Item
    </h4>

    <div class="has-actions text-center">
      <div class="d-flex justify-content-space-around">
        <button class="btn btn-sm btn-primary" (click)="confirmItemEdit()" [disabled]="!canSaveCurrentItem">Save</button>

        <div class="ml-1 errors">
          <div class="error" *ngIf="isCurrentItemDuplicateName">Duplicate name.</div>
          <div class="error" *ngIf="isCurrentItemClone">Rename clone.</div>
          <div class="warning" *ngIf="isCurrentItemDuplicateArt">Duplicate art.</div>
        </div>
      </div>
    </div>

    <button class="btn-close close" (click)="cancelEdit()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-item [model]="currentItem" *ngIf="currentItem"></app-item>
  </div>

  <div class="modal-footer">
    <div class="uuid">{{ currentItem?.id }}</div>
  </div>
</ng-template>
